/* components/Navbar.module.css */
.main-navbar {
   z-index: 1000;
   display: flex;
   align-items: center;
   opacity: 1;
   height: var(--header-height);
   /* якщо хочеш, щоб завжди видно */
   justify-content: center;
   background: #0a0a0a;
}

.main-navbar::before {
   content: "";
   position: absolute;
   left: -32px;
   right: -32px;
   top: 0;
   bottom: 0;
   /* background: #0a0a0a; */
   border-radius: 24px;
   z-index: -1;
   pointer-events: none;
   min-width: calc(100% + 64px);
   max-width: 100vw;
}

.main-navbar ul {
   display: flex;
   gap: 32px;
   list-style: none;
   justify-content: center;
   width: 100%;
}

.main-navbar li {
   font-size: 1.25em;
   color: #fff;
   font-weight: 500;
   letter-spacing: .03em;
   cursor: pointer;
   position: relative;
}

.main-navbar li::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -4px;
   left: 0;
   background: #fff;
   transform: scaleX(0);
   transition: transform .3s;
}

.main-navbar li:hover::after {
   transform: scaleX(1);
}

.locale-switch {
   position: absolute;
   right: 20px;
   top: 12px;
}

.locale-button {
   background: transparent;
   border: 1px solid rgba(255, 255, 255, 0.2);
   color: #fff;
   padding: 6px 10px;
   border-radius: 6px;
   cursor: pointer;
   font-weight: 600;
}

.locale-button:hover {
   background: rgba(255, 255, 255, 0.03);
}